
body {
    background: url("/static/img/moroccan-flower.png");
    background-size: cover;
    color: #f1f1f1;;
    text-align: center;
    font-family: 'Montserrat','Karla','Quicksand', 'Calibri';
    

}

.btn-primary, .btn-secondary{
    background: transparent;
    border-radius: 15px;
    
}

.flex-column a {
    float: left;
    text-align: center;
    padding: 5px 5px;
    color: white

}
.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    
}

.after-login-links a {
    color: pink;
}


.align-top {
    text-align: top;
}
.navigation a:hover {
 
    color: #0c0c0c;
}

#homepage, #user-detail-container, #shared-playlist-container, #your-prof-container, #similar-container,
#saved-playlist-container  {
    background-color: #6A8498;
    opacity: 0.92;
    text-align: center;
    border: 3px solid #2C2927;
    border-radius: 25px;
    padding: 20px;
    
}

#create-account-form, #login-form, #song-pref-form, #artist-pref-form {
    width: 50%;
    background-color:#f1f1f1;
    opacity: 0.92;
    text-align: center;
    border: 3px solid #2C2927;
    border-radius: 25px;
    padding: 20px;
    color: #2C2927;
    align-content: center;
    
}

    
.card {
   background-color: #6A8498;

    display: inline-block;
    vertical-align: top;
    border-color: 5px solid red;
    border-radius: 20px;
    
  }

 

.btn {
    color: white;
    background-color: #2C2927;
    border-color: 3px solid white;
 
}
.btn:hover {
  
    box-shadow: 0 0 0 0.2rem;
    background-color:  #2E5547;
  }
canvas#myChart {
    opacity: 0.87;
    background-color: white;
    text-align: center;
   
}


#profile-artists {
    vertical-align: text-top;
}
ul li {
    list-style-type: none;

}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.users::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
    
  }
.cd::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f130";
}

.email::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f199";
    
  }
.similar-user::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2bb";
    
  }

  .music::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f025";
    
  }

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
#shared-playlist, #playlist-songs-col {
    height: 300px;
    width: 50%;
    overflow: auto;
    text-align: center;
    align-content: center;
}
