
{%block title %} Combined Playlist Homepage {% endblock %}

{% block body %}
<h1>Welcome ~~</h1>


{% if session['show_create_account'] %}

<h2>Create an Account</h2>
<form action="/users" method="POST">
	<p>
		Email <input type="text" name="email">
	</p>

	<p>
		Password <input type="password" name="password">
    </p>

    <p>
    	<input type="submit">
    </p>
</form>
{% endif %}
{% if session['show_login'] %}

<h2>Log In</h2>
<form action="/login" method="POST" id="login">
	<p>
		Email <input type="text" name="email">
	</p>

	<p>
		Password <input type="password" name="password">
    </p>

    <p>
    	<input type="submit">
    </p>
</form>
{% endif %}
{% endblock %}
