<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Play[list] Together</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">Play[list] Together</span>
    </div>
  </div>
</nav>
<div id="login container">
  <h2>Log In</h2>
  <form method="POST" action="/api/login" id="login">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
  </form>
</div>
<div id="user-button">
  <button class="btn btn-primary" type="submit" id="view-users">
    View Users!
  </button>
</div>

<div id="view-prof-button">
  <button class="btn btn-primary" type="submit" id="view-prof">
    Your Profile
  </button>
</div>
<div id="user_details">
  <ul class="user-details-list">
    <li id="name" style="display:none"></li>
    <li id="email" style="display:none"> </li>
    <li id ="fav-songs" style="display:none"></li>
    <li id ="fav-artists" style="display:none"></li>
  </ul>
</div>

<div id="all-website-stuff-container">
<div id="users-container" style="display:none">

</div>
<div id="user-info-container" style="display:none">
  <ul class="main">
    <li id="user-name"></li>
    <li id="user-email"></li>
    <button class="btn btn-primary" type="submit" id="view-shared-playlist">
    View Shared Playlist
    </button>
  <ul id="song-rec">Recommended Combined Playlist:

  </ul>




</div>
<div id="playlists-container">

</div>

<script src="/static/ajax.js"></script>
</body>
</html>
