{% extends 'base.html' %}

{% block title %}{{ user.email }}'s Page{% endblock %}

{% block body %}

<div id="user_details">
	<ul class="main">
		<li>Name: {{ user.fname }} {{ user.lname }}
		<li>Email: {{ user.email }} </li>
		<li>Favorite Songs: </li>
		<ul class="song_list">
			{% for song in song_prefs %}
				<li>{{ song.song_title }} </li>
			{% endfor %}
		</ul>
		<li>Favorite Artists: </li>
		<ul class="subcat">
			{% for artist in artist_prefs %}
				<li>{{ artist.artist_name }}</li>

			{% endfor %}
			
		</ul>
		<li>Recommended Songs:</li>

		</ul>
		<li>Recommended Song Attributes</li>
		{{ averages }}
		<p>{{ stdev }}</p>
		<li>Shared with User {{ fname }}:</li>
		<ul class="recs">
			{% for pref in shared_prefs %}
				<li>{{ pref }}</li>
			{% endfor %}
			
		</ul>
		<li> Similar Songs with {{ fname }}</li>
		{{ similar_songs }}

		
			
		</ul>
	</ul>
</div>

<a href='/users'>Users</a>

{% endblock %}
