{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s Profile{% endblock %}

{% block body %}
<h2>{{ user.fname }}'s Profile</h2>
<div id="user_details">
	<ul class="main">
		<li>Name: {{ user.fname }} {{ user.lname }}
		<li>Email: {{ user.email }}</li>
		<li>Favorite Songs: {{ x}} </li>
		<ul class="song">
			{% for song in song_prefs %}
				<li>{{ song.song_title }}</li>
			{% endfor %}


		</ul>
		<li>Favorite Artists: </li>
		<ul class="artist">
			{% for artist in artist_prefs %}
				<li>{{ artist.artist_name }}</li>
			{% endfor %}
			
		</ul>
	</ul>
</div>
<form action="/profile/get_recs" method="POST" id="prefs">
	Get updated song recommendations<input type="submit">
</form>
<div id="navigation">
	<ul>
		<li><a href='/profile/add_prefs'>Add Preferences</a></li>

		<li><a href='/users'>View All Users</a></li>
</div>

{% endblock %}
