{% extends 'base.html' %}

{% block title %}{{ user.email }}'s Page{% endblock %}

{% block body %}

<div id="user_details">
	<ul class="main">
		<li>Name: {{ user.fname }} {{ user.lname }}
		<li>Email: {{ user.email }}</li>
		<li>Favorite Songs:  </li>
		<ul class="song_list">
			{% for song in song_prefs %}
				{% if song.user_id == user.user_id %}
					<li>{{ song.song_title }}</li>
				{% endif %}
			{% endfor %}
		</ul>

		<li>Favorite Artists: </li>
		<ul class="artistlist">
			{% for artist in artist_prefs %}
				{% if artist.user_id == user.user_id %}
					<li>{{ artist.artist_name }}</li>
				{% endif %}
			{% endfor %}
			
		</ul>
	</ul>
</div>

<a href='/users'>Users</a>

{% endblock %}
