{% extends 'base.html' %}

{% block title %}{{ user.email }}'s Page{% endblock %}

{% block body %}

<div id="user_details">
	<ul class="main">
		<li>Name: {{ user.fname }} {{ user.lname }}
		<li>Email: {{ user.email }} </li>
		<li>Favorite Songs: </li>
		<ul class="song_list">
			{% for song in song_prefs %}
				{% if song.user_id == user.user_id %}
					<li>{{ song.song_title }} </li>
				{% endif %}
			{% endfor %}
		</ul>
		<li>Favorite Artists: </li>
		<ul class="subcat">
			{% for artist in artist_prefs %}
				{% if artist.user_id == user.user_id %}
					<li>{{ artist.artist_name }}</li>
				{% endif %}
			{% endfor %}
			
		</ul>
		<li>Recommended Songs:</li>
		<ul class="recs">
			{% for song in song_recs %}
				{% if song.user_id == user.user_id %}
					<li>{{ song.song_title }} </li>
				{% endif %}
			{% endfor %}
		</ul>

		</ul>
		<li>Recommended Song Attributes</li>
		{{ song_attributes }}
		<li>Shared with User 1:</li>
		<ul class="recs">
			{% for pref in shared_prefs %}
				<li>{{ pref }}</li>
			{% endfor %}
			
		</ul>

		
			
		</ul>
	</ul>
</div>

<a href='/users'>Users</a>

{% endblock %}
